
body{  /* body css */
	
	background-color: rgba(108, 122, 137, 1)  /* bakrundsfärg globalt */

}

.container{  /* container och genrell css globalt.*/
	grid-template-columns: 1fr 1fr;  /* kolumner globalt */
	grid-gap: 1em;  /* grid mellanrum*/
	grid-template-rows:100px 100px auto 50px;  /* rader storlek */
	display:grid;  /*visa grid */
	grid-template-areas:  /* grid area */
	"header header"  /*header css */
	"nav nav"  /*navigerings css */
	"main main"  /* main css*/
	"footer footer";  /* footer css*/
}

header{  /* css i header */
	grid-area: header;  /* grid area  */
	padding: 10px;  /*padding autmatisk */
	border: 3px solid rgb(0,0,0);  /* ramen runt grid */
	font-size: 20pt;  /*font storlek */
	text-align: center;  /* text centrerad*/
	background-color: rgb(255,255,255);  /* bakgrunds färg vit*/
	border-radius: 20px  /*rundade hörn */
}

nav{  /* css i navigering*/
	background-color: rgb(255,255,255);  /* bakgrund färg vit*/
	grid-area: nav;  /* grid nav */
	color: rgb(255,255,255);  /* färg vit */
	border: 5px solid rgb(0,0,0);  /*ramen runt grid */
}

nav > ul{  /*css i navigeringslistan */
	display:grid;  /*visa grid */
	grid-template-columns:1fr 1fr 1fr 1fr;  /* fyra navigerings fält*/
	color: rgb(0,0,0);  /*färg vit */
	text-decoration:none;  /*ingen text dekoration */
}


footer {  /* css i footer*/
  position: absolute;  /* placering aboslut*/ /* jo jag vil ha min footer såhär låt mig*/
  bottom: 0;  /*botten av sidan */
  width: 98.75%; /* bredden på grid */
  height: 2.5rem; /*höjd på grid */
  background-color: rgb(255,255,255); /*bakgrundsfärg vit */
}

main{ /* css i vanligam main*/
	text-align:left; /*text åt vänster */
	font-size: 20pt; /* storlek på text */
}

#main, #main2{ /* main id css */
	display:grid; /*visa grid */
	grid-area:main; /* main area css */
	text-align:center; /*text centrerad */
	font-size: 20pt; /*storlek på text */
	background-color: rgb(255,255,255); /* bakgrunds färg vit*/
	grid-template-columns:1fr 1fr;	/* två fält*/
}

#main2{ /* main2 id css */
	grid-template-columns:1fr;	/* ett fält*/
	width: 98.75%; /* bredden på grid */
}

table, tr, th, td{ /*css för allt i tabell */
	border: 1px solid rgb(0,0,0); /*svart ram runt */
	border-collapse:collapse; /* border kolliderar*/
	width: 1950px; /*bredd*/
	height: 40px; /* höjd*/
}

tr:nth-child(even){ /*färg jämna */
	background-color:rgba(108, 122, 137, 1);
}

thead{ /*stolek rubik i tabell */
	font-size: 150%;
}
tr:nth-child(odd){ /*färg ojämn */
	background-color: rgb(255,255,255);
}
